html{
  overflow:auto;
  min-height: 100%;
  min-width:100%;
  box-sizing: border-box;
}
body {
    overflow:auto;
    margin:0;
    min-height: 100%;
    min-width:100%;
    font-family:roboto;
}
  
 
 #root{
  
 }
 
  *, *:before, *:after {
    box-sizing: inherit;
  }
  ::-webkit-scrollbar {
    display: none;
    }